<br/><br/><br/>
<form action="calculate" method="post">
  <table border="0" width="85%" algin="center">
    <tr>
      <th> Start Date/Time</th>
      <th> End Date/Time</th>
    </trd>
    <tr>
      <td align="center">
        <input type="text" name="start_date" id="start_date" size="10"/><br/>
        <input type="text" name="start_time" id="start_time" size="5"/><br/>
      </td>
      <td align="center">
        <input type="text" name="end_date" id="end_date" size="10"/><br/>
        <input type="text" name="end_time" id="end_time" size="5"/><br/>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Calculate"></td>
    </tr>
  </table>
</form>